<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>754822525460-hir22n5fv7pkg4pcsdlf2nr4vpco6pof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.754822525460-hir22n5fv7pkg4pcsdlf2nr4vpco6pof</string>
	<key>API_KEY</key>
	<string>AIzaSyD2p8yEjZBrqPrMVG-tfmYefS143PIIloY</string>
	<key>GCM_SENDER_ID</key>
	<string>754822525460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NikAlimp.UI-2</string>
	<key>PROJECT_ID</key>
	<string>firstdb-32548</string>
	<key>STORAGE_BUCKET</key>
	<string>firstdb-32548.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754822525460:ios:f7db45417163830d902d01</string>
</dict>
</plist>